body {
  background: #fff;
}

.post-img {
  width: 200px;
  height: 200px;
  box-shadow: 0 0.8px 0.8px rgb(0 0 0 / 2%), 0 1.8px 1.8px rgb(0 0 0 / 3%),
    0 4.2px 4.2px rgb(0 0 0 / 4%), 0 8.4px 8.4px rgb(0 0 0 / 5%),
    0 12.4px 12.4px rgb(0 0 0 / 6%), 0 32.8px 32.8px rgb(0 0 0 / 7%),
    0 71px 71px rgb(0 0 0 / 9%);
}

.post-img:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.8s;
}

.col > img {
  margin-bottom: 15px;
}

.logo {
  width: 400px;
  display: flex;
  margin: 10px auto;
}
