@keyframes slidein {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

body {
  background: #fff;
}
/* https://css-tricks.com/different-approaches-for-creating-a-staggered-animation/ */

.col {
  animation: slideup 1.5s;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.logo {
  width: 400px;
  display: flex;
  margin: 40px auto;
  animation: slidein;
  animation-duration: 1s;
}

.post_img {
  width: 200px;
  height: 200px;
  transition: .5s ease;
  backface-visibility: hidden;
  border-radius: 5px;
}

.post_img:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.8s;
  filter: brightness(0.35);
}

.col, .post_info > img {
  margin-bottom: 15px;
}

.post_details {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
  width: 200px;
  color: white;
}

.post_info:hover .post_details {
  opacity: 1;
}

.post_details p {
  line-height: 2.5rem;
  font-size: 18px;
}
